{% extends "menubar.html" %}
{% block content %}
<div class="jumbotron text-center" style="background-color: #0f8f34; color: #FFFFFF;">
    <h1 class="display-4">
        ยินดีตอนรับสู่ <span style="color: #ff0000;"><b>Bank MB</b></span>
    </h1>
    <p class="lead">จัดทำขึ้นเพราะต้องส่งงาน</p>
    <hr class="my-4">
    <p>จัดทำโดย</p>
    <div class="row">
        <div class="col-md-4">
            <img src="" alt="" class="img-fluid rounded-circle">
            <p>นาย เอกรัตน์ แตงใย 6749010047</p>
        </div>
        <div class="col-md-4">
            <img src="" alt="" class="img-fluid rounded-circle">
            <p>นาย วัชรพล พลรบ 6749010041</p>
        </div>
        <div class="col-md-4">
            <img src="" alt="" class="img-fluid rounded-circle">
            <p>นางสาว มนัญญา บัวอ่อน 6749010039</p>
        </div>
    </div>
</div>





{% endblock %}
